# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log

# Secrets / креды
*.pem
*.key
secrets/
.env

# OS
.DS_Store
backend.hcl
ansible/roles/k3s/files/k3s
kubeconfig
ansible/roles/gh-runner/files/actions-runner.tar.gz
ansible/roles/gh-runner/files/kubectl
